/* HEADER */
header {
  background-color: $primary-color;
  padding: 25px;

  /* SECTION */
  section {

    /* ARTICLE */
    article {

      /* FORM */
      form {

        textarea:focus,
        input:focus,
        select:focus {
          outline: 0;
        }

        input[type="text"] {
          width: 100%;
          background-color: $white;
          padding: 10px 20px;
          border: none;
          border-radius: 100px;
        }

        button {
          position: absolute;
          border: none;
          background: none;
          right: 25px;
        }
      }

      /* END FORM */

      /* UL */
      ul {

        /* LI */
        li {
          position: relative;

          span {
            &.notification {
              position: absolute;
              bottom: 18px;
              left: 5px;
              width: 15px;
              height: 14px;
              font-size: 10px;
              color: $white;
            }
          }

          /* A */
          a {
            color: $secondary-color;
            font-size: 16px;
            font-weight: bold;

            &:hover {
              color: $secondary-color;
            }

            svg {
              width: 20px;
              height: 20px;
            }
          }

          /* END A */
        }

        /* END LI */
      }

      /* END UL */
    }

    /* END ARTICLE */
  }

  /* END SECTION */
}

/* END HEADER */