section {
  section {
    &.produtos-container {

      &.produtos-stars {
        svg {
          color: yellow;
        }
      }
    }
  }
}

body {
  background: red;
}

body {
  background: red;
}